RewriteEngine On
# RewriteBase /charles-cantin-nesme-f6af6cc1162d.herokuapp.com/
RewriteBase /



RewriteRule ^admin$ index.php?controller=admin&action=home [QSA,L]
RewriteRule ^login$ index.php?controller=admin&action=login
RewriteRule ^admin-prestations$ ?controller=admin&action=prestations&subaction=read
RewriteRule ^admin-photos$ ?controller=admin&action=photo&subaction=read
RewriteRule ^admin-gallery$ ?controller=admin&action=gallery&subaction=read
RewriteRule ^admin-forbidden$ ?controller=admin&action=login&forbidden=1

RewriteRule ^prestations$ ?controller=prestation&action=read

RewriteRule ^gallery$ ?controller=gallery&action=read

RewriteRule ^contact$ ?controller=contact&action=contact

RewriteRule ^admin-prestations-update/([0-9]+)$ ?controller=admin&action=prestations&subaction=update&id=$1


RewriteRule ^home$ ?controller=home&action=home




