@charset "UTF-8";
body {
  font-family: "Belleza", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: #424952;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.home {
  height: 100vh;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  background-color: white;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .menu ul {
    display: none;
  }
}
.menu__li {
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .menu__li {
    display: none;
  }
}
.menu__li a {
  color: #424952;
}
.menu__li--logo {
  width: 8rem;
}

.home__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 1;
}
.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home__title--span {
  color: white;
  text-transform: uppercase;
  font-family: "Nobile", sans-serif;
  font-size: 4rem;
  font-weight: normal;
}
@media screen and (max-width: 900px) {
  .home__title--span {
    font-size: 3rem;
  }
}

.prestation-cover__image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
}
.prestation-cover__title {
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}

.prestation-grid-container {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 70%;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 1400px) {
  .prestation-grid-container {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .prestation-grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .prestation-grid-container {
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }
}
.prestation-grid-container__item {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.prestation-grid-container__item:hover {
  box-shadow: 10px 5px 20px #424952;
}
.prestation-grid-container__item:hover .prestation-grid-container__item__description {
  animation-name: hover-prestations;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.prestation-grid-container__item:hover .prestation-grid-container__item__text {
  animation-name: hover-prestations-text;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.prestation-grid-container__item:hover img {
  filter: brightness(50%);
}
.prestation-grid-container__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prestation-grid-container__item__text {
  display: flex;
  position: absolute;
  top: 45%;
  translate: -50% -50%;
  flex-direction: column;
  left: 150%;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .prestation-grid-container__item__text {
    top: 35%;
  }
}
.prestation-grid-container__item__text--title, .prestation-grid-container__item__text--prices {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 700px) {
  .prestation-grid-container__item__text--title, .prestation-grid-container__item__text--prices {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .prestation-grid-container__item__text--title, .prestation-grid-container__item__text--prices {
    font-size: 1.5rem;
  }
}
.prestation-grid-container__item__text--prices {
  font-size: 1.7rem;
}
@media screen and (max-width: 1200px) {
  .prestation-grid-container__item__text--prices {
    display: none;
  }
}
.prestation-grid-container__item__description {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #424952;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .prestation-grid-container__item__description {
    max-height: 30%;
  }
}
@media screen and (max-width: 700px) {
  .prestation-grid-container__item__description {
    height: 30%;
  }
}
.prestation-grid-container__item__description p {
  max-width: 80%;
  margin: 0.2rem auto;
}
@media screen and (max-width: 1200px) {
  .prestation-grid-container__item__description p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@keyframes hover-prestations {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes hover-prestations-text {
  0% {
    left: 150%;
  }
  100% {
    left: 50%;
  }
}
.gallery--main::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../../images/couple_foret.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .gallery {
    top: 65%;
  }
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-self: center;
  flex-wrap: wrap;
}
.gallery-nav__a {
  font-size: 1.8rem;
  padding: 1rem;
  margin: 1rem;
}
@media screen and (max-width: 900px) {
  .gallery-nav__a {
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .gallery-nav__a {
    padding: 0.3rem;
    margin: 0.3rem;
  }
}

.gallery-photo {
  display: flex;
  position: relative;
  height: 600px;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .gallery-photo {
    margin: 0 -30px;
  }
}
@media screen and (max-width: 900px) {
  .gallery-photo {
    height: 90%;
    margin: 0;
  }
}
.gallery-photo__container {
  flex: 0 0 calc(33.33% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  max-height: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .gallery-photo__container {
    flex: 0 0 50%;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .gallery-photo__container {
    flex: 0 0 100%;
    margin: 0;
  }
}
.gallery-photo__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.arrow-container {
  position: absolute;
  left: 32%;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 36%;
}
@media screen and (max-width: 1400px) {
  .arrow-container {
    left: 0;
    width: 100%;
  }
}
.arrow-container__btn--right, .arrow-container__btn--left {
  background-color: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .arrow-container__btn--right, .arrow-container__btn--left {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1400px) {
  .arrow-container__btn--left {
    justify-content: flex-end;
  }
}
.arrow-container div a {
  text-decoration: none;
  color: #000000;
  font-size: 3rem;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.footer-blue a svg {
  fill: black;
}

.login__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
}
.login__title {
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}
.login__form {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 100%;
}
.form-group label, .form-group input {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.icon {
  width: 2.5rem;
}

.miniature {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.addButton {
  font-size: 1.5rem;
  width: 10rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.addButton:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .addButton {
    width: 5rem;
    font-size: 1.2rem;
  }
}

.deleteButton {
  font-size: 1.3rem;
  width: 7rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.2rem;
}
.deleteButton:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .deleteButton {
    width: 5rem;
    font-size: 1.2rem;
  }
}

.updateButton {
  font-size: 1.3rem;
  width: 7rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.2rem;
}
.updateButton:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .updateButton {
    width: 5rem;
    font-size: 1.2rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }
}

.formPrestation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  margin: 2rem auto;
  width: 50%;
}
.formPrestation__title {
  text-transform: uppercase;
}
.formPrestation__button {
  font-size: 1.5rem;
  width: 7rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
}
.formPrestation__button:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .formPrestation__button {
    width: 5rem;
    font-size: 1.2rem;
  }
}
.formPrestation input, .formPrestation textarea {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.formPrestation label {
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.menu-hamb {
  cursor: pointer;
  padding: 15px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 10%;
}
@media screen and (min-width: 900px) {
  .menu-hamb {
    display: none;
  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.menu-link {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #424952;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  display: flex;
}
@media screen and (min-width: 900px) {
  .menu-link {
    display: none;
  }
}
.menu-link a {
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: 0.4s;
  font-size: 2rem;
}
.menu-link a:hover {
  background-color: #6f7b8b;
}

.menu-hamb.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-11px, 9px);
}

.menu-hamb.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-hamb.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -7px);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: white;
}

.dashboard {
  display: flex;
}
.dashboard::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../../images/couple-g4b1e56824_640.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dashboardMenu {
  position: relative;
  background-color: #424952;
  height: 100vh;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .dashboardMenu {
    width: 5%;
  }
}
.dashboardMenu__home, .dashboardMenu__items--div {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding-bottom: 2rem;
}
.dashboardMenu__home--link {
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .dashboardMenu__home--link {
    display: none;
  }
}
.dashboardMenu__home--link img {
  padding: 0.5rem;
}
.dashboardMenu__items--div {
  padding-bottom: 0;
}

.dashboardContent {
  width: 100%;
  position: relative;
}
.dashboardContent__title, .dashboardContent__link {
  margin: 1rem;
  font-family: nobile;
}
.dashboardContent__button {
  font-size: 1.5rem;
  width: 12rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}
.dashboardContent__button:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .dashboardContent__button {
    width: 5rem;
    font-size: 1.2rem;
  }
}
.dashboardContent__link {
  font-size: 1.5rem;
}

.dashboardContent {
  width: 100%;
}
.dashboardContent__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  position: relative;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .dashboardContent__grid {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.dashboardContent__grid--header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid red 0.1rem;
  font-size: 2rem;
  font-weight: bolder;
}
@media screen and (max-width: 400px) {
  .dashboardContent__grid--header {
    font-size: 1.5rem;
  }
}
.dashboardContent__grid--header a:hover {
  text-decoration: none;
}
.dashboardContent__grid--item {
  display: grid;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid red 0.1rem;
  grid-template-columns: 20% 20% 1fr 1fr;
}
@media screen and (max-width: 1000px) {
  .dashboardContent__grid--item {
    grid-template-columns: 30% 30% 1fr;
  }
}
@media screen and (max-width: 750px) {
  .dashboardContent__grid--item {
    grid-template-columns: 30% 1fr;
  }
}
.dashboardContent__grid--item:hover {
  background-color: #f2f2f2;
}
.dashboardContent__grid--item:hover a:hover {
  text-decoration: none;
}
.dashboardContent__grid--item div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.2rem;
}

.titleHeader, .priceHeader, .descriptionHeader {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .description, .descriptionHeader {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .price, .priceHeader {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.miniatures-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .miniatures-container {
    display: none;
  }
}

.adminBody {
  height: 100%;
  overflow: scroll;
}

.adminMenu {
  height: auto;
}

.galleryPhoto {
  padding: 20px;
}
.galleryPhoto__title, .categoryPhoto div h3 {
  font-family: nobile;
  text-align: center;
  text-transform: uppercase;
  font-weight: initial;
  font-size: 2rem;
}

.galleryPhoto__button--container {
  text-align: center;
  margin-bottom: 20px;
}
.galleryPhoto__button--container a {
  font-size: 1.5rem;
  width: 12rem;
  background-color: #424952;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 20px;
}
.galleryPhoto__button--container a:hover {
  background-color: #151719;
}
@media screen and (max-width: 490px) {
  .galleryPhoto__button--container a {
    width: 5rem;
    font-size: 1.2rem;
  }
}

.categoryPhoto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.categoryPhoto div h3 {
  font-size: 1.2rem;
}
.categoryPhoto__grid {
  position: relative;
}

.mini {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.mini:hover {
  transform: scale(1.1);
}

.delete-overlay {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.categoryPhoto__grid:hover .delete-overlay {
  opacity: 1;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.delete-button svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.formPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
.formPhoto__button {
  border: none;
  background: none;
  margin: 10px;
  padding: 0;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.formPhoto__button:hover {
  text-decoration: underline;
}

.custom-file-input {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(167, 118, 24);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-transform: uppercase;
  /* Style de l'input réel */
}
.custom-file-input:hover {
  background-color: #7a5612;
}

.custom-file-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  /* Changement de couleur au survol */
}

.errorAccess {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  border: 2px solid red;
  padding: 1rem;
  background-color: rgba(242, 10, 10, 0.2);
}

.error-message, .invalid-feedback {
  color: red;
}/*# sourceMappingURL=main.css.map */