body {
  font-family: "Belleza", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: #424952;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.home {
  height: 100vh;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  background-color: white;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu__li {
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
}
.menu__li a {
  color: #424952;
}
.menu__li--logo {
  width: 8rem;
}

.home__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 1;
}
.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home__title--span {
  color: white;
  text-transform: uppercase;
  font-family: "Nobile", sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.prestation-cover__image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
}
.prestation-cover__title {
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}

.grid-container {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 70%;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.grid-container__item {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.grid-container__item:hover {
  box-shadow: 10px 5px 20px #424952;
}
.grid-container__item:hover .grid-container__item__description {
  animation-name: hover-prestations;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.grid-container__item:hover .grid-container__item__text {
  animation-name: hover-prestations-text;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.grid-container__item:hover img {
  filter: brightness(50%);
}
.grid-container__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-container__item__text {
  display: flex;
  position: absolute;
  top: 45%;
  translate: -50% -50%;
  flex-direction: column;
  left: 150%;
  width: 100%;
}
.grid-container__item__text--title, .grid-container__item__text--prices {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
}
.grid-container__item__text--prices {
  font-size: 1.7rem;
}
.grid-container__item__description {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #424952;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  height: 25%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.grid-container__item__description p {
  max-width: 80%;
  margin: 0.2rem auto;
}

@keyframes hover-prestations {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes hover-prestations-text {
  0% {
    left: 150%;
  }
  100% {
    left: 50%;
  }
}
.gallery--main::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../../images/couple_foret.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 580px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-self: center;
}
.gallery-nav__a {
  font-size: 1.8rem;
  padding: 1rem;
  margin: 1rem;
}

.gallery-photo {
  display: flex;
  position: relative;
  height: 600px;
  align-items: center;
  width: 100%;
}
.gallery-photo__container {
  flex: 0 0 calc(33.33% - 100px);
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  max-height: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-photo__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.arrow-container {
  position: absolute;
  left: 32%;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 36%;
}
.arrow-container__btn {
  background-color: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-container__btn a {
  text-decoration: none;
  color: #000000;
  font-size: 3rem;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.login__img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
}
.login__title {
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  font-weight: normal;
}
.login__form {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.dashboard {
  display: flex;
}
.dashboard::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../../images/couple-g4b1e56824_640.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.dashboardMenu {
  position: relative;
  background-color: #424952;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1.5rem;
}
.dashboardMenu__home, .dashboardMenu__items--div {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding-bottom: 2rem;
}
.dashboardMenu__home a, .dashboardMenu__items--div a {
  color: white;
  font-size: 1.7rem;
  padding: 0.5rem;
}
.dashboardMenu__home img, .dashboardMenu__items--div img {
  padding: 0.5rem;
}
.dashboardMenu__items--div {
  padding-bottom: 0;
}

.dashboardContent {
  width: 100%;
}

.icon {
  width: 2.5rem;
}

.dashboardContent {
  width: 100%;
}
.dashboardContent__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  position: relative;
  width: 80%;
}
.dashboardContent__grid--item {
  display: grid;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid red 0.1rem;
  grid-template-columns: 20% 20% 1fr;
  cursor: pointer;
}
.dashboardContent__grid--item:hover {
  background-color: #e6e6e6;
}
.dashboardContent__grid--item div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.2rem;
  pointer-events: none;
}

.title, .price, .description {
  font-weight: bold;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */