@mixin coverImage($opacity: 1, $height: 100vh)
    width: 100%
    height: $height
    object-fit: cover
    overflow: hidden
    opacity: $opacity

@mixin position($top: 16%)
    position: absolute
    left: 50%
    top: $top
    transform: translate(-50%, -50%)