
    
.header__nav
    display: flex
    justify-content: center
    align-items: center
    background-color: lightblue
    height: 10rem

    &__li
        font-size: 2rem
        padding: 2rem
        text-transform: uppercase

    &__li--logo
        width: 5rem